#!/usr/bin/env node
const path = require("path");

const root = path.join(__dirname, "src", "database");

module.exports = {
    "models-path":      path.join(root, "models"),
    "seeders-path":     path.join(root, "seeders"),
    "migrations-path":  path.join(root, "migrations"),
    "config":           path.join(root, "configs", "config.js"),
};
