#!/usr/bin/env node
const path = require("path");

const rootShared = path.join(__dirname, "src", "shared", "database");
const rootModule = path.join(__dirname, "src", "modules", "{{module_name}}", "database");

module.exports = {
    "models-path":      path.join(rootModule, "models"),
    "seeders-path":     path.join(rootModule, "seeds"),
    "migrations-path":  path.join(rootModule, "migrations"),
    "config":           path.join(rootShared, "modules-based", "configs-{{module_name}}.js"),
};
